body {
    background: #000;
}

#container {
    margin: 100px auto;
    width: 250px;
    height: 250px;
    position: relative;
}

#percentage {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 55pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
}